.medievalsharp-regular {
	font-family: "MedievalSharp", cursive;
	font-weight: 400;
	font-style: normal;
}  

body{
background-image: url(map/basic.png);
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;
height: 100vh;
}

#zelda{
background-image:url(character/assets/zelda.png);
width:32px;
height:32px;
display:block;
background-repeat: no-repeat;
position:absolute;
transform: scale(2);

}

#inventory {
	background-image: url(images/ui.png);
	position: fixed;
	background-position: 1620px 950px;
	width: 1490px;
	height: 200px;
	bottom: 0 !important;
	scale: 0.4;
}

#health {
	background-image: url(images/ui.png);
	position: fixed;
	background-position: 0px 0px;
	width: 1375px;
	height: 219px;
	scale: 0.15;
}

#inventoryButton {
	position: absolute;
	top: 870px;
	left: 1100px;
	width: 32px;
	height: 32px;
	background: transparent;
	border: none;
	cursor: pointer;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur d'arrière-plan semi-transparente */
    z-index: 9998; /* Assurez-vous que l'overlay est derrière l'inventaire */
    display: none; /* Par défaut, masquez l'overlay */
}

#inventoryfull {
    background-position: 1700px 1700px;
    width: 1600px;
    height: 750px;
    position: fixed;
    background-image: url(images/ui.png);
    z-index: 9999;
    scale: 0.5;
    display: none; /* Par défaut, masquez l'overlay */
}

#navigation{
	position:fixed;
	top:20px;
	right:20px;
	width:90px;
	height:90px;
}

#pave{
position:relative;

}

.left{
	background: url(images/boutons.png)  30px 30px;
	width:30px;
	height:30px;
	position:absolute;
	top:30px;
	left:0px;
}

.right{
	background: url(images/boutons.png) 30px 0px;
	width:30px;
	height:30px;
	position:absolute;
	top:30px;
	right:0px;
}

.top{
	background: url(images/boutons.png) 0 0;
	width:30px;
	height:30px;
	position:absolute;
	top:0px;
	left:30px;
}

.bottom{
	background: url(images/boutons.png) 0 30px;
	width:30px;
	height:30px;
	position:absolute;
	top:60px;
	left:30px;
}

.dirBas1{
	background-position: 0px 0px;
}
.dirBas2{
	background-position: -32px 0px;
}
.dirBas3{
	background-position: -64px 0px;
}
.dirBas4{
	background-position: -96px 0px;
}
.dirBas5{
	background-position: -128px 0px;
}
.dirBas6{
	background-position: -160px 0px;
}


.dirGauche1{
	background-position: 0px -33px;
}
.dirGauche2{
	background-position: -32px -33px;
}
.dirGauche3{
	background-position: -64px -33px;
}
.dirGauche4{
	background-position: -96px -33px;
}
.dirGauche5{
	background-position: -128px -33px;
}
.dirGauche6{
	background-position: -160px -33px;
}

.dirDroite1{
	background-position: 0px -64px;
}
.dirDroite2{
	background-position: -32px -64px;
}
.dirDroite3{
	background-position: -64px -64px;
}
.dirDroite4{
	background-position: -96px -64px;
}
.dirDroite5{
	background-position: -128px -64px;
}
.dirDroite6{
	background-position: -160px -64px;
}

.dirHaut1{
	background-position: 0px -96px;
}
.dirHaut2{
	background-position: -32px -96px;
}
.dirHaut3{
	background-position: -64px -96px;
}
.dirHaut4{
	background-position: -96px -96px;
}
.dirHaut5{
	background-position: -128px -96px;
}
.dirHaut6{
	background-position: -160px -96px;
}

/* quêtes */

.quests {
	font-family: "MedievalSharp", cursive;
	width: 250px;
	color: black;
	box-shadow: 0px 0px 50px 0px black;
	background: rgb(226, 171, 130, 0.8);
	padding: 20px;
	position: relative;
	top: 150px;
	left: 1400px;
	backdrop-filter: blur(5px);
	border-radius: 10px;
	z-index: 100;
}

/*Pommes*/
.apple {
	background-image: url(images/ui.png);
	position: fixed;
	background-position: 1120px 2120px;
	width: 200px;
	height: 200px;
	scale: 0.2;
	top: 280px;
	left: 80px;
}

#appleinventory {
	background-image: url(images/ui.png);
	position: fixed;
	background-position: 1120px 2120px;
	width: 200px;
	height: 200px;
	scale: 0.18;
	left: 535px;
	top: 780px;
}

#addApple {
	background-image: url(images/ui.png);
	position: fixed;
	background-position: 1120px 2120px;
	width: 200px;
	height: 200px;
	scale: 0.2;
	top: 280px;
	left: 80px;
	z-index: 99;
	background: transparent;
	border: none;
	cursor: pointer;
}

#addRuby {
	position: fixed;
	top: 220px;
	left: 750px;
	width: 560px;
	height: 200px;
	bottom: 0 !important;
	scale: 0.4;
	background: transparent;
	border: none;
	cursor: pointer;
}

#addRuby2 {
	position: fixed;
	top: 60px;
	left: -20px;
	width: 250px;
	height: 200px;
	bottom: 0 !important;
	scale: 0.4;
	background: transparent;
	border: none;
	cursor: pointer;
}

#ruby {
	background-image: url(images/ui.png);
	position: fixed;
	background-position: 1620px 1920px;
	width: 160px;
	height: 230px;
	bottom: 0 !important;
	scale: 0.18;
	left: 503px;
	top: 765px;
}

/* collision */

#door{
	height: 64px;
	width: 64px;
	background-color: red;
	position: relative;
	left: 240px;
	top: 240px;
	opacity: 0;
}

.hidden {
    display: none;
}